<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Eficode nakki</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1 id="secretBut" class="secret">:-0?!</h1>
<div id="ramen" class="hidden">
    <p>Oon vaihdossa tykännyt syödä paljon ramenia ja näin tilaisuuden esitellä muutamaa:--)</p>
    <br>
    <img src="img/ramen1.jpg" id="ramenImg">
    <br>
    <button id="secretBack" class="secret">Ok thanks!</button>
</div>
<article id="main">
    <div>
        <h1 id="dateHeader">Fetching new values from database...</h1>
    </div>
    <div id="canvasHolder">
        <p id="highest">highest data</p>
        <canvas id="canvas" height="300" width="600"></canvas>
        <p id="lowest">lowest data</p>
    </div>
    <div>
        <button id="sens1">Sensor 1</button>
        <button id="sens2">Sensor 2</button>
        <br>
        <button id="sens3">Sensor 3</button>
        <button id="sens4">Sensor 4</button>

    </div>
</article>
<script rel="script" src="index.js"></script></body>
</html>
